// Replace template with name of the modal function
.modal.hide.fade#template{:role => "dialog", :aria-hidden => "true"}
    .modal-dialog.modal-dialog-centered{:role => "document"}
        .modal-content
            .modal-header
                %h4.modal-title Template title 
                %button.close{data: {dismiss: "modal"}}
                    %i.fas.fa-times
            .modal-body 
                template body
            .modal-footer
                .button.btn.btn-primary button